.menu__Principal{
    background-image: url(../images/madera.jpg);
    text-align: center;
    font-size: 20px;
    @media (max-width: 768px) {
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 5px;
    }
    ul{
        @include flex(row,wrap,space-around,center);
        list-style-type: none;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    a{
        text-decoration: none;
        color: $colorLinks;
        font-size: 32px;
        font-weight: bold;
        &:hover{
            color: white;
            opacity: 1;
        }
    }
}