body{
    background-color: #fbfbff;
}
.quesos{
    .menuLateral{
        width: 17%;
        height: 50vh;
        background-image: url(../images/fondoquesos.jpg);
        position: fixed;
        left: 0;
        top: 25%;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        box-shadow: 2px 2px 7px $colorShadowNegro;
        @include flex(column,nowrap,center,center);
        @media (max-width: 768px) {
            display: none;
        }
        ul{
            width: 90%;
            height: 80%;
            @include flex(column,wrap,space-around,flex-end);
            li{
                transition: all 0.5s;
                a{
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    text-shadow: 1px 1px 2px black;
                    &:hover{
                     text-decoration: none;
                    }
                }
                &:hover{
                    text-decoration: none;
                    transform: translateY(-5px);
                    transition: all 0.5s;
                }    
            }
        }
    }
    .cardsQuesos{
        width: 82%;
        margin-left: 18%;
        @media (max-width: 768px) {
            width: 100%;
            margin-left: 0;
        }
        h2{
            @extend %titulosSecciones;
            @media (max-width: 768px) {
                font-size: 48px;
            }
        }
        h3{
            margin-left: 60px;
            color: $colorSecundario;
            text-shadow: 1px 2px 2px black;
            font-size: 48px;
            margin-top: 30px;
        }
        .cardsQuesos__cremosos{
            @include flex(row,wrap,center,center);
            .cremososCard{
                background-color: white;
                margin-top: 20px;
                margin-right: 10px;
                border-radius: 6px;
                box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
                padding: 5px 0px;
                width: 32%;
                height: 75vh;
                position: relative;
                @include flex(column,nowrap,space-between,center);
                @media (max-width: 768px) {
                    width: 47%;
                    margin-top: 60px;
                    margin-right: 4px;
                }
                .cremososCard__Img{
                    width: 100%;
                    height: 40%;
                    @include BgImage(cover,center,repeat);
                }
                .puntaDelAgua{
                    background-image: url(../images/quesos/puntadelagua.jpg);
                }
                .cremoso__barraza{
                    background-image: url(../images/quesos/barraza.jpg);
                }
                .cremoso__tonutti{
                    background-image: url(../images/quesos/cremosotonutti.jpg);
                }
                .cremoso__cremon{
                    background-image: url(../images/quesos/cremon.jpg);
                }
                .cremoso__cremonLight{
                    background-image: url(../images/quesos/cremonlight.jpg);
                }
                .cremososCard__Text{
                    width: 100%;
                    h4{
                        text-align: center;
                        font-weight: bold;
                        color: $colorPrincipal;
                    }
                    p{
                        margin-bottom: 6px;
                        font-weight: bold;
                        color: rgba(0, 0, 0, 0.7);
                        padding: 0px 10px;
                        @media (max-width: 768px) {
                            font-weight: normal;
                        }
                    }
                }
                .cremososCard__tabla{
                    width: 100%;
                    .cremososCard__tablaTitulo{
                        font-weight: bold;
                        color: $colorPrincipal;
                        padding: 0px 10px;
                    }
                    .cremososCard__tablaListas{
                        width: 100%;
                        @include flex(row,nowrap,flex-start,center);
                        font-size: 16px;
                        padding-left: 10px;
                        ul{
                            margin-left: 10px;
                            margin-bottom: 0px;
                        }
                    }
                }
                .cremososCard__Btn{
                    position: absolute;
                    bottom: 15px;
                    right: 10px;
                    padding: 6px 12px;
                    border-radius: 4px;
                    background-color: $colorPrincipal;
                    color: White;
                    font-weight: bold;
                    @media (max-width: 768px) {
                        right: 25%;
                        bottom: -40px;
                    }
                }
            }
        }
        #Port-Salut{
            margin-top: 60px;
            @media (max-width: 768px) {
                margin-top: 80px;
            }
        }
        .barraza__conSal{
            background-image: url(../images/quesos/barrazaconsal.jpg);
        }
        .barraza__sinSal{
            background-image: url(../images/quesos/barrazasinsal.jpg);
        }
        .vidal__conSal{
            background-image: url(../images/quesos/vidalconsal.jpg);
        }
        .vidal__sinSal{
            background-image: url(../images/quesos/vidalsinsal.jpg);
        }
        .veronica__conSal{
            background-image: url(../images/quesos/veronicaconsal.jpg);
        }
        .tonutti__magro{
            background-image: url(../images/quesos/magrotonutti.jpg);
        }
        #muzza{
            margin-top: 60px;
            @media (max-width: 768px) {
                margin-top: 80px;
            }
        }
        .muzza_vidal{
            background-image: url(../images/quesos/muzzavidal.jpg);
        }
        .muzza__barraza{
            background-image: url(../images/quesos/muzzabarraza.jpg);
        }
        .muzza__tonutti{
            background-image: url(../images/quesos/muzzatonutti.jpg);
        }
        .muzza__dontim{
            background-image: url(../images/quesos/MUZZADONTIM.jpg);
        }
        #semiduros{
            margin-bottom: 20px;
        }
        #semiduros{
            margin-top: 60px;
            @media (max-width: 768px) {
                margin-top: 80px;
            }
        }
        .cardquesos__semiduros{
            @include flex(row,wrap,space-around,center);
            .semidurosCard{
                background-color: white;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
                width: 45%;
                height: 85vh;
                padding: 30px 15px;
                margin-bottom: 10px;
                @include flex(column,wrap,space-evenly,center);
                position: relative;
                @media (max-width: 768px) {
                    height: 80vh;
                    width: 95%;
                    margin-top: 20px;
                }
                .semidurosCard__titulo{
                    h4{
                        text-align: center;
                        font-weight: bold;
                        color: $colorPrincipal;
                        font-size: 40px;
                    }
                }
                .semidurosCard__img{
                    width: 100%;
                    height: 35vh;
                    margin-bottom: 10px;
                    box-shadow: 2px 2px 4px $colorPrincipal;
                }
                .mardelplata{
                    background-image: url(../images/quesos/mardelplata.jpg);
                    @include BgImage(cover,center,no-repeat);
                }
                .pategras{
                    background-image: url(../images/quesos/pategras.jpg);
                    @include BgImage(cover,center,no-repeat);
                }
                .fontina{
                    background-image: url(../images/quesos/fontina.jpg);
                }
                .criollo{
                    background-image: url(../images/quesos/criollo.jpg);
                    @include BgImage(cover,center,no-repeat);
                }
                .semidurosCard__text{
                    p{
                        margin-bottom: 6px;
                        font-weight: bold;
                        color: rgba(0, 0, 0, 0.7);
                        padding: 0px 10px;
                        text-align: justify;
                        @media (max-width: 768px) {
                            font-weight: normal;
                        }
                    }
                }
                .semidurosCard__Btn{
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    padding: 6px 12px;
                    border-radius: 4px;
                    background-color: $colorPrincipal;
                    color: White;
                    font-weight: bold;
                    @media (max-width: 768px) {
                        right: 10px;
                        bottom: 10px;
                    }
                }
            }
        }
        #pararallar{
            margin-top: 60px;
        }
        .cardquesos__duros{
            @include flex(row,wrap,space-around,center);
            .durosCard{
                background-color: white;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
                width: 90%;
                height: 85vh;
                padding: 15px 15px;
                margin-bottom: 10px;
                @include flex(column,wrap,space-evenly,center);
                position: relative;
                @media (max-width: 768px) {
                    width: 100%;
                    height: 70vh;
                    margin-top: 20px;
                    flex-wrap: nowrap;
                }
                .durosCard__titulo{
                    h4{
                        text-align: center;
                        font-weight: bold;
                        color: $colorPrincipal;
                        font-size: 32px;
                        margin-bottom: 10px;
                    }
                }
                .durosCard__img{
                    width: 100%;
                    height: 50%;
                    margin-bottom: 5px;
                    box-shadow: 2px 2px 4px $colorPrincipal;
                    @media (max-width: 768px) {
                        width: 100%;
                        height: 40%;
                    }
                }
                .sardos{
                    background-image: url(../images/quesos/sardos.jpg);
                    @include BgImage(cover,center,no-repeat);
                }
                .parmesano{
                    background-image: url(../images/quesos/parmesano.jpg);
                    @include BgImage(cover,center,no-repeat);
                }
                .durosCard__text{
                    p{
                        margin-bottom: 6px;
                        font-weight: bold;
                        color: rgba(0, 0, 0, 0.7);
                        padding: 0px 10px;
                        text-align: justify;
                        @media (max-width: 768px) {
                            font-weight: normal;
                        }
                    }
                    span{
                        color: $colorPrincipal;
                        font-weight: bold;
                    }
                }
                .durosCard__Btn{
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    padding: 6px 12px;
                    border-radius: 4px;
                    background-color: $colorPrincipal;
                    color: White;
                    font-weight: bold;
                    @media (max-width: 768px) {
                        right: 5px;
                        bottom: 5px;
                    }
                }
            }
            .durosCard2{
                background-color: white;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
                width: 40%;
                height: 70vh;
                padding: 10px 10px;
                margin-bottom: 10px;
                @include flex(column,wrap,space-between,center);
                position: relative;
                @media (max-width: 768px) {
                    width: 95%;
                    height: 50vh;
                    margin-top: 20px;
                    flex-wrap: nowrap;
                }
                .durosCard2__titulo{
                    h4{
                        text-align: center;
                        font-weight: bold;
                        color: $colorPrincipal;
                        font-size: 28px;
                        margin-bottom: 10px;
                    }
                }
                .durosCard2__img{
                    width: 70%;
                    height: 40%;
                    margin-bottom: 5px;
                    box-shadow: 2px 2px 4px $colorPrincipal;
                }
                .provolone{
                    background-image: url(../images/quesos/provolone.png);
                    @include BgImage(cover,top,no-repeat);
                }
                .regianito{
                    background-image: url(../images/quesos/regianito.jpg);
                    @include BgImage(cover,top,no-repeat);
                }
                .durosCard2__text{
                    p{
                        margin-bottom: 6px;
                        font-weight: bold;
                        color: rgba(0, 0, 0, 0.7);
                        padding: 0px 10px;
                        text-align: justify;
                        @media (max-width: 768px) {
                            font-weight: normal;
                        }
                    }
                    span{
                        color: $colorPrincipal;
                        @media (max-width: 768px) {
                            font-weight: bold;
                        }
                    }
                }
                .durosCard2__Btn{
                    padding: 6px 12px;
                    border-radius: 4px;
                    background-color: $colorPrincipal;
                    color: White;
                    font-weight: bold;
                }
            }
        }
        #otros{
            margin-top: 60px;
        }
        .cardquesos__otros{
            margin-top: 20Px;
            background-color: white;
            padding: 0px 20px;
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
            margin-bottom: 40px;
            ul{
                width: 100%;
                height: 300px;
                display: flex;
                overflow-x: auto;
                background-color: white;
                &::-webkit-scrollbar{
                    height: 10px;
                    margin-top: 10px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: #797979;
                    border-radius: 20px;
                    border: 2px solid #f1f2f3;
                }
                &::-webkit-scrollbar-track{
                    border-radius: 10px;
                }
                .cardOtros{
                    min-width: 25%;
                    height: 90%;
                    margin-right: 20px;
                    @include flex(column,wrap,space-around,center);
                    border-radius: 18px;
                    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
                    @media (max-width: 768px) {
                        min-width: 50%;
                    }
                    .cardOtros__img{
                        width: 90%;
                        height: 50%;
                        margin-bottom: 5px;
                        box-shadow: 2px 2px 4px $colorPrincipal;
                    }
                    .ahumado{
                        background-image: url(../images/quesos/ahumado.jpg);
                        @include BgImage(cover,top,no-repeat);
                    }
                    .condimentado{
                        background-image: url(../images/quesos/condimentado.jpg);
                        @include BgImage(cover,center,no-repeat);
                    }
                    .provoleta{
                        background-image: url(../images/quesos/provoleta.jpg);
                        @include BgImage(cover,center,no-repeat);
                    }
                    .quesocabra{
                        background-image: url(../images/quesos/quesocabra.jpg);
                        @include BgImage(cover,center,no-repeat);
                    }
                    .bocconcinos{
                        background-image: url(../images/quesos/bocconcinos.jpg);
                        @include BgImage(cover,center,no-repeat);
                    }
                    .burrata{
                        background-image: url(../images/quesos/burrata.jpg);
                        @include BgImage(cover,center,no-repeat);
                    }
                    .brie{
                        background-image: url(../images/quesos/brie.jpg);
                        @include BgImage(cover,center,no-repeat);
                    }
                    h4{
                        text-align: center;
                        font-weight: bold;
                        color: $colorPrincipal;
                        font-size: 22px;  
                    }
                    span{
                        padding: 6px 12px;
                        border-radius: 4px;
                        background-color: $colorPrincipal;
                        color: White;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
