.margin__nosotros{
    background-image: url(../images/fondo.jpg);
    @include flex(column,wrap,center,center);
    h1{
        @extend %titulosSecciones;
        font-size: 42px;
    }
    .nosotros{
        width: 90%;
        height: 90vh;
        margin-top: 20px;
        box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.4);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 30% 70%;
        background-color: white;
        @media (max-width: 780px){
            height: 100%;
            @include flex(column,wrap,center,center);
        }
    }
    .nosotros__logo{
        grid-area: 1/1/2/5;
        justify-self: center;
        align-self: center;
        @media (max-width: 780px){
            grid-area: 1/1/2/2;
        }
    }
    .nosotros__carousel{
        grid-area: 2/1/3/8;
        justify-self: stretch;
        align-self: stretch;
        .carousel-item{
            height: 55vh;
        }
        @media (max-width: 780px){
            grid-area: 4/1/5/2;
        }
    }
    .nosotros__eslogan{
        grid-area: 1/5/2/8;
        color: $colorPrincipal;
        cursor: pointer;
        justify-self: center;
        align-self: center;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
        @media (max-width: 780px){
            grid-area: 2/1/3/2;
        }
    }
    .nostros__texto{
        grid-area: 1/8/3/13;
        text-align: justify;
        justify-self: center;
        align-self: stretch;
        font-size: 18px;
        font-weight: bold;
        opacity: 0.8;
        padding: 10px 10px;
        @media (max-width: 780px){
            grid-area: 3/1/4/2;
        }
    }
}
.nosotros__preguntas{
    margin:30px 0px;
    width: 100%;
    background-color: #fbfbff;
    h3{
        color: $colorPrincipal;
        text-align: center;
    }
    .accordion{
        width: 60%;
        margin: auto;
        margin-top: 30px;
    }
    .card-header{
        background-color: rgba(160, 15, 15, 0.5);
        &:hover{
            background-color: rgba(160, 15, 15, 0.8);
        }
    }
    .btn-preguntas{
        color: rgba(255, 255, 255, 0.8);
        font-weight: bold;
        &:hover{
            color: white;
        }
    
    }
}